BOT_TOKEN=8166270107:AAHwsZoW2NXVDd5OqVCk3UiN02mKhW2AeW4
BACKEND_URL=https://xxxx.ngrok-free.app
MINI_APP_URL=https://xxxx.ngrok-free.app/app
OUTLINE_API_URL=https://placeholder:1234/placeholder
ADMIN_SECRET=mysecret123





